# Application settings
NODE_ENV=development
PORT=3000
FRONTEND_URL=xxxxxxx

# Database Configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# ORM Settings
ENABLE_ORM_LOGS=false

# JWT Configuration
JWT_PRIVATE_KEY=xxxxxxx
JWT_EXPIRES_IN=7200 # In s, 2 hours
JWT_REFRESH_KEY=xxxxxxx
JWT_REFRESH_EXPIRES_IN=172800 # 2 days

# Email config
RESEND_API_KEY=xxxxxxx
EMAIL_FROM="xxxxxxx"

# Security settings
BCRYPT_SALT_ROUNDS=10